.Header{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
}

.DataStatBlock{
    background-color: white;
    border: solid 1px black;
    border-radius: 25px;
    padding: 15px 15px;
    height: 80px;
	width: 300px;
	transition: all .5s;
}

.dataString{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dataTable{
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	width: 1100px;
	height: 400px;
}

.dataBody{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px 100px;
}

.notRemove {
	height: 780px;
	width: 1100px;
	transition: all .3s;
	overflow: auto;
}

.enter {
	opacity: 0;
	transform: scale(0);
	height: 0px;
	width: 0px;
	padding: 0px 0px;
}
.enter-active {
	opacity: 1;
	transition: all .5s;
	transform: scale(1);
	height: 80px;
	width: 300px;
	padding: 15px 15px;
}
.exit {
	opacity: 1;
	transform: scale(1);
}
.exit-active {
	opacity: 0;
	transition: all .5s;
	height: 0px;
	width: 0px;
	padding: 0px 0px;
	transform: scale(0);
}

.listString{
	height: 20px;
	width: 600px;
	border: solid 1px black;
	margin: 2px 2px;
}

.profileName{
	text-align: center;
}

.profileInside{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
    width: 300px;
    height: 400px;
	border: solid 1px black;
	border-radius: 25px;
	padding: 15px 15px;
}

.profileSkin{
	margin: auto;	
}

.searchButton{
	margin: 0px 10px;
}

.leftHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto 0px;
}

.githubImage{
	margin: auto;
}

.findPlayer{
	margin: auto 0px;
}